$first: white;
$second: #90e0ef;
$third: #1b263b;
$dark: #0d1b2a;
$text1: "Roboto";
$text2: cursive;
// $first: white;
// $second: #090c31;
// $third: #5853ff;
// $dark: rgb(44, 44, 44);
// $text1: "Roboto";
// $text2: cursive;