@import "colors";

nav {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: $dark;
  top: 0%;
  z-index: 10;

  > h1 {
    color: $first;
    font-size: 2.5rem;
  }

  > main {
    display: flex;
    align-items: center;

    > a {
      color: $first;
      margin: 1rem;
      text-decoration: none;

      &:hover {
        color: $second;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;

    > h1 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }

    > main {
      margin-top: 1rem;

      > a {
        margin: 0.5rem;
      }
    }
  }
}
.head{
  display: inline-block;
    animation: zoomInOut 3s ease-in-out infinite;
}